spring:
  cloud:
    config:
      uri: http://config-server:8888

  data:
    redis:
      host: redis
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/